---
import Timer from '../components/timer.astro';
---

<html>
  <head>
     <link rel="stylesheet" href="/styles/global.css">
     <title>Dam Academy</title>
    <link rel="shortcut icon" href="favicon.ico" sizes="16x16" type="image/x-icon">
    <script src="/script/script.js" defer></script>
  </head>
  <body>
    <h1>dam academy</h1>
    <section>
      <img src="/img/nadine.jpg">
      <h2>Nadine</h2>
      <Timer />
    </section>
    <ul>
      <li data-index="1"></li>
      <li data-index="2" class="white  stone one"><span>●</span></li>
      <li data-index="3"></li>
      <li data-index="4" class="white  stone one"><span>●</span></li>
      <li data-index="5"></li>
      <li data-index="6"class="white  stone one"><span>●</span></li>
      <li data-index="7"></li>
      <li data-index="8" class="white  stone one"><span>●</span></li>
      <li data-index="9"></li>
      <li data-index="10" class="white  stone one"><span>●</span></li>

      <li data-index="11" class="white  stone one"><span>●</span></li>
      <li data-index="12"></li>
      <li data-index="13" class="white  stone one"><span>●</span></li>
      <li data-index="14"></li>
      <li data-index="15" class="white  stone one"><span>●</span></li>
      <li data-index="16"></li>
      <li data-index="17" class="white  stone one"><span>●</span></li>
      <li data-index="18"></li>
      <li data-index="19" class="white  stone one"><span>●</span></li>
      <li data-index="20"></li>

        <li data-index="21"></li>
        <li data-index="22" class="white stone one"><span>●</span></li>
        <li data-index="23"></li>
        <li data-index="24" class="white stone one"><span>●</span></li>
        <li data-index="25"></li>
        <li data-index="26" class="white stone one"><span>●</span></li>
        <li data-index="27"></li>
        <li data-index="28" class="white stone one"><span>●</span></li>
        <li data-index="29"></li>
        <li data-index="30" class="white stone one"><span>●</span></li>
        
        <li data-index="31" class="white stone one"><span>●</span></li>
        <li data-index="32"></li>
        <li data-index="33" class="white stone one"><span>●</span></li>
        <li data-index="34"></li>
        <li data-index="35" class="white stone one"><span>●</span></li>
        <li data-index="36"></li>
        <li data-index="37" class="white stone one"><span>●</span></li>
        <li data-index="38"></li>
        <li data-index="39" class="white stone one"><span>●</span></li>
        <li data-index="40"></li>

      <li data-index="41"></li>
      <li data-index="42" class="white"></li>
      <li data-index="43"></li>
      <li data-index="44" class="white"></li>
      <li data-index="45"></li>
      <li data-index="46" class="white"></li>
      <li data-index="47"></li>
      <li data-index="48" class="white"></li>
      <li data-index="49"></li>
      <li data-index="50" class="white"></li>

      <li data-index="51" class="white"></li>
      <li data-index="52"></li>
      <li data-index="53" class="white"></li>
      <li data-index="54"></li>
      <li data-index="55" class="white"></li>
      <li data-index="56"></li>
      <li data-index="57" class="white"></li>
      <li data-index="58"></li>
      <li data-index="59" class="white"></li>
      <li data-index="60"></li>

      <li data-index="61"></li>
      <li data-index="62" class="white stone two"><span>●</span></li>
      <li data-index="63"></li>
      <li data-index="64" class="white stone two"><span>●</span></li>
      <li data-index="65"></li>
      <li data-index="66" class="white stone two"><span>●</span></li>
      <li data-index="67"></li>
      <li data-index="68" class="white stone two"><span>●</span></li>
      <li data-index="69"></li>
      <li data-index="70" class="white stone two"><span>●</span></li>

      <li data-index="71" class="white stone two"><span>●</span></li>
      <li data-index="72"></li>
      <li data-index="73" class="white stone two">●</li>
      <li data-index="74"></li>
      <li data-index="75" class="white stone two"><span>●</span></li>
      <li data-index="76"></li>
      <li data-index="77" class="white stone two"><span>●</span></li>
      <li data-index="78"></li>
      <li data-index="79" class="white stone two"><span>●</span></li>
      <li data-index="80"></li>

        <li data-index="81"></li>
        <li data-index="82" class="white stone two"><span>●</span></li>
        <li data-index="83"></li>
        <li data-index="84" class="white stone two"><span>●</span></li>
        <li data-index="85"></li>
        <li data-index="86" class="white stone two"><span>●</span></li>
        <li data-index="87"></li>
        <li data-index="88" class="white stone two"><span>●</span></li>
        <li data-index="89"></li>
        <li data-index="90" class="white stone two"><span>●</span></li>
        
        <li data-index="91" class="white stone two"><span>●</span></li>
        <li data-index="92"></li>
        <li data-index="93" class="white stone two"><span>●</span></li>
        <li data-index="94"></li>
        <li data-index="95" class="white stone two"><span>●</span></li>
        <li data-index="96"></li>
        <li data-index="97" class="white stone two"><span>●</span></li>
        <li data-index="98"></li>
        <li data-index="99" class="white stone two"><span>●</span></li>
        <li data-index="100"></li>
    </ul>
      <section>
        <img src="/img/bob.jpg">
        <h2>Bob</h2>
        <Timer />
      </section>
  </body>
</html>