<html>
  <head>
     <link rel="stylesheet" href="/styles/global.css">
     <title>Dam Academy</title>
    <link rel="shortcut icon" href="favicon.ico" sizes="16x16" type="image/x-icon">
  </head>
  <body>
    <h1>dam academy</h1>
    <section>
      <img src="/img/nadine.jpg">
      <h2>Nadine</h2>
    </section>
    <ul>
      <li></li>
      <li class="white"></li>
      <li></li>
      <li class="white"></li>
      <li></li>
      <li class="white"></li>
      <li></li>
      <li class="white"></li>
      <li></li>
      <li class="white"></li>

      <li class="white"></li>
      <li></li>
      <li class="white"></li>
      <li></li>
      <li class="white"></li>
      <li></li>
      <li class="white"></li>
      <li></li>
      <li class="white"></li>
      <li></li>

        <li></li>
        <li class="white"></li>
        <li></li>
        <li class="white"></li>
        <li></li>
        <li class="white"></li>
        <li></li>
        <li class="white"></li>
        <li></li>
        <li class="white"></li>
        
        <li class="white"></li>
        <li></li>
        <li class="white"></li>
        <li></li>
        <li class="white"></li>
        <li></li>
        <li class="white"></li>
        <li></li>
        <li class="white"></li>
        <li></li>

          <li></li>
      <li class="white"></li>
      <li></li>
      <li class="white"></li>
      <li></li>
      <li class="white"></li>
      <li></li>
      <li class="white"></li>
      <li></li>
      <li class="white"></li>

      <li class="white"></li>
      <li></li>
      <li class="white"></li>
      <li></li>
      <li class="white"></li>
      <li></li>
      <li class="white"></li>
      <li></li>
      <li class="white"></li>
      <li></li>

        <li></li>
      <li class="white"></li>
      <li></li>
      <li class="white"></li>
      <li></li>
      <li class="white"></li>
      <li></li>
      <li class="white"></li>
      <li></li>
      <li class="white"></li>

      <li class="white"></li>
      <li></li>
      <li class="white"></li>
      <li></li>
      <li class="white"></li>
      <li></li>
      <li class="white"></li>
      <li></li>
      <li class="white"></li>
      <li></li>

        <li></li>
        <li class="white"></li>
        <li></li>
        <li class="white"></li>
        <li></li>
        <li class="white"></li>
        <li></li>
        <li class="white"></li>
        <li></li>
        <li class="white"></li>
        
        <li class="white"></li>
        <li></li>
        <li class="white"></li>
        <li></li>
        <li class="white"></li>
        <li></li>
        <li class="white"></li>
        <li></li>
        <li class="white"></li>
        <li></li>
    </ul>
      <section>
        <img src="/img/bob.jpg">
        <h2>Bob</h2>
      </section>
  </body>
</html>