---
import Timer from '../components/timer.astro';
import Invalid from '../components/invalid.astro';
import Reset from '../components/reset.astro';
---

<html>
  <head>
     <link rel="stylesheet" href="/styles/global.css">
     <title>Dam Academy</title>
    <link rel="shortcut icon" href="favicon.ico" sizes="16x16" type="image/x-icon">
    <script src="/script/script.js" defer></script>
  </head>
  <body>
    <h1>dam academy</h1>
    <Timer />
    <section>
      <img src="/img/nadine.jpg">
      <h2>Nadine</h2>
    </section>
    <ul>
      <li data-index="1" class="black"></li>
      <li data-index="2" class="white  stone one"><span>●</span></li>
      <li data-index="3" class="black"></li>
      <li data-index="4" class="white  stone one"><span>●</span></li>
      <li data-index="5" class="black"></li>
      <li data-index="6" class="white  stone one"><span>●</span></li>
      <li data-index="7" class="black"></li>
      <li data-index="8" class="white  stone one"><span>●</span></li>
      <li data-index="9" class="black"></li>
      <li data-index="10" class="white  stone one"><span>●</span></li>

      <li data-index="11" class="white  stone one"><span>●</span></li>
      <li data-index="12" class="black"></li>
      <li data-index="13" class="white  stone one"><span>●</span></li>
      <li data-index="14" class="black"></li>
      <li data-index="15" class="white  stone one"><span>●</span></li>
      <li data-index="16" class="black"></li>
      <li data-index="17" class="white  stone one"><span>●</span></li>
      <li data-index="18" class="black"></li>
      <li data-index="19" class="white  stone one"><span>●</span></li>
      <li data-index="20" class="black"></li>

        <li data-index="21" class="black"></li>
        <li data-index="22" class="white stone one"><span>●</span></li>
        <li data-index="23" class="black"></li>
        <li data-index="24" class="white stone one"><span>●</span></li>
        <li data-index="25" class="black"></li>
        <li data-index="26" class="white stone one"><span>●</span></li>
        <li data-index="27" class="black"></li>
        <li data-index="28" class="white stone one"><span>●</span></li>
        <li data-index="29" class="black"></li>
        <li data-index="30" class="white stone one"><span>●</span></li>

        <li data-index="31" class="white stone one"><span>●</span></li>
        <li data-index="32" class="black"></li>
        <li data-index="33" class="white stone one"><span>●</span></li>
        <li data-index="34" class="black"></li>
        <li data-index="35" class="white stone one"><span>●</span></li>
        <li data-index="36" class="black"></li>
        <li data-index="37" class="white stone one"><span>●</span></li>
        <li data-index="38" class="black"></li>
        <li data-index="39" class="white stone one"><span>●</span></li>
        <li data-index="40" class="black"></li>

      <li data-index="41" class="black"></li>
      <li data-index="42" class="white"></li>
      <li data-index="43" class="black"></li>
      <li data-index="44" class="white"></li>
      <li data-index="45" class="black"></li>
      <li data-index="46" class="white"></li>
      <li data-index="47" class="black"></li>
      <li data-index="48" class="white"></li>
      <li data-index="49" class="black"></li>
      <li data-index="50" class="white"></li>

      <li data-index="51" class="white"></li>
      <li data-index="52" class="black"></li>
      <li data-index="53" class="white"></li>
      <li data-index="54" class="black"></li>
      <li data-index="55" class="white"></li>
      <li data-index="56" class="black"></li>
      <li data-index="57" class="white"></li>
      <li data-index="58" class="black"></li>
      <li data-index="59" class="white"></li>
      <li data-index="60" class="black"></li>

      <li data-index="61" class="black"></li>
      <li data-index="62" class="white stone two"><span>●</span></li>
      <li data-index="63" class="black"></li>
      <li data-index="64" class="white stone two"><span>●</span></li>
      <li data-index="65" class="black"></li>
      <li data-index="66" class="white stone two"><span>●</span></li>
      <li data-index="67" class="black"></li>
      <li data-index="68" class="white stone two"><span>●</span></li>
      <li data-index="69" class="black"></li>
      <li data-index="70" class="white stone two"><span>●</span></li>

      <li data-index="71" class="white stone two"><span>●</span></li>
      <li data-index="72" class="black"></li>
      <li data-index="73" class="white stone two"><span>●</span></li>
      <li data-index="74" class="black"></li>
      <li data-index="75" class="white stone two"><span>●</span></li>
      <li data-index="76" class="black"></li>
      <li data-index="77" class="white stone two"><span>●</span></li>
      <li data-index="78" class="black"></li>
      <li data-index="79" class="white stone two"><span>●</span></li>
      <li data-index="80" class="black"></li>

        <li data-index="81" class="black"></li>
        <li data-index="82" class="white stone two"><span>●</span></li>
        <li data-index="83" class="black"></li>
        <li data-index="84" class="white stone two"><span>●</span></li>
        <li data-index="85" class="black"></li>
        <li data-index="86" class="white stone two"><span>●</span></li>
        <li data-index="87" class="black"></li>
        <li data-index="88" class="white stone two"><span>●</span></li>
        <li data-index="89" class="black"></li>
        <li data-index="90" class="white stone two"><span>●</span></li>

        <li data-index="91" class="white stone two"><span>●</span></li>
        <li data-index="92" class="black"></li>
        <li data-index="93" class="white stone two"><span>●</span></li>
        <li data-index="94" class="black"></li>
        <li data-index="95" class="white stone two"><span>●</span></li>
        <li data-index="96" class="black"></li>
        <li data-index="97" class="white stone two"><span>●</span></li>
        <li data-index="98" class="black"></li>
        <li data-index="99" class="white stone two"><span>●</span></li>
        <li data-index="100" class="black"></li>
    </ul>

      <section>
        <img src="/img/bob.jpg">
        <h2>Bob</h2>
      </section>

      <Invalid />
      <Reset />
  </body>
</html>
