<div class="container invalid">
  <p>Geen geldige zet! Wil je de spelregels van dammen lezen?</p>
  <div class="buttons">
    <button>Nee</button>
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Ja!</a>
  </div>
</div>