section {
  display: flex;
}

ul {
  margin: 2em 0;
}

span {
  transition: all 250ms ease;
}

li {
  transition: all 250ms ease;
}

.active {
  border: 5px solid #ed5965;
}

.thing {
  background: red;
}

.one {
  color: #21c6d7;
}

.two {
  color: #57be8e;
}

.white {
  background: white;
}