body {
  background: #040463;
  color: white;
  margin: 12vh 25vw;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 62px);
}

li {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  font-size: 4em;
}

h1 {
  font-family: monospace;
  background: white;
  color:  #040463;
  padding: 0.5em;
  width: max-content;
  position: absolute;
  top: 40%;
  left: 13%;
  transform: rotate(-85deg);
}

.white {
  background: white;
  color: #040463
}

img {
  max-width: 100%;
}

section img {
  width: 15%;
  border-radius: 100%;
  border: 4px solid white;
  margin-right: 2em;
  transform: rotate(-10deg);
}

section:first-of-type {
  transform: rotate(180deg);
}

section {
  display: flex;
}

ul {
  margin: 2em 0;
}

span {
  transition: all 250ms ease;
}

.active {
  transform: scale(1.5);
}

.thing {
  background: red;
}